@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Secular+One&display=swap");

:root {
  --color-grey-light: #88979e;
  --color-blue-dark: #3b557c;
  --color-orange: #d4a04d;
  --color-light: #eeeeee;
  --color-dark: #231c24;
  --font-family-title: "Secular One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  overflow: hidden; /* Cache la scrollbar */
}

main {
  display: flex;
}

/* Navside Bar  */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  background-color: var(--color-dark);
  text-align: center;
  transition: 2s;
  animation: openNav 2s ease;
  margin-bottom: -0.5rem;
}

/* Animation : Ouverture Navbar */
@keyframes openNav {
  from {
    translate: -50%;
    opacity: 0%;
    transform: rotateY(250deg);
    width: 0%;
  }
  to {
    transform: rotateY(360deg);
    width: 10%;
  }
}

.btn-menu {
  transition: 1.5s;
  animation: closeNav 2s ease;
}

/* Animation : Fermeture Navbar */
@keyframes closeNav {
  from {
    transform: rotateY(360deg);
    width: 10%;
  }
  to {
    width: 0%;
    translate: -50%;
    opacity: 0%;
    transform: rotateY(250deg);
  }
}

#menu {
  border-radius: 3px;
  position: absolute;
  top: 50px;
  left: 25px;
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: var(--color-orange);
  font-size: large;
}

nav ul li {
  list-style: none;
}

nav ul li a:hover {
  color: var(--color-blue-dark);
}

nav ul a::before {
  position: absolute;
  content: "";
  width: 10px;
  background-color: var(--color-light);
}

nav ul a:hover::before {
  display: flex;
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--color-light);
  transition: 0.8s;
}

nav ul li:nth-child(4) {
  background-color: var(--color-grey-light);
}

nav ul li:nth-child(4) a {
  color: var(--color-light);
}

nav ul li .active {
  color: var(--color-light);
  text-decoration: underline;
}

/* Animation : Des liens quand on click dessus */
.link-about-anim,
.link-project-anim,
.link-hobby-anim {
  animation: linkNav 1s ease-in-out;
}

@keyframes linkNav {
  0% {
    transform: translate(50%, -35%);
  }
  10%,
  80% {
    width: 50%;
  }
  25% {
    transform: rotate3d(1.1, 1.1, 1, 0.1turn);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Top Page */
#container {
  width: 100%;
  animation: colorChange infinite linear 10s;
  background-color: #746d6d44;
}

@keyframes colorChange {
  0% {background: radial-gradient(circle, rgba(150, 150, 150, 0.377) 0%, rgba(255, 255, 255, 0.397) 100%);}
  50% {background: radial-gradient(circle, rgba(150, 150, 150, 0.342) 35%, rgba(255, 255, 255, 0.349) 100%);}
  75% {background: radial-gradient(circle, rgba(150, 150, 150, 0.363) 57%, rgba(255, 255, 255, 0.349) 100%);}
  100% {background: radial-gradient(circle, rgba(150, 150, 150, 0.37) 84%, rgba(255, 255, 255, 0.404) 100%);}
}

.textAnim {
  position: absolute;
  top: 100%;
  z-index: -1;
  color: var(--color-blue-dark);
  animation: moveUp 5s infinite;
}

@keyframes moveUp {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(-920px);
  }
}

header {
  display: flex;
  height: 8vh;
  background-color: var(--color-dark);
}

header figure {
  width: 0;
}

header figure img {
  width: 150px;
  margin-left: 5rem;
  margin-top: 3rem;
  -webkit-animation: 10s infinite logo;
  animation: 10s infinite logo;
}

@-webkit-keyframes logo {
  from {
    transform: scale(0.95);
    border-radius: 35px;
  }
  to {
    transform: scale(1);
    border-radius: 5px;
  }
}

@keyframes logo {
  from {
    transform: scale(0.95);
    border-radius: 35px;
  }
  to {
    transform: scale(1);
    border-radius: 5px;
  }
}

header div {
  width: 100%;
  align-self: center;
  text-align: center;
  container-type: size;
}

h1 {
  color: var(--color-light);
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: -1rem;
  overflow: hidden;
  -webkit-animation: title 15s steps(150) 5s infinite;
  animation: title 15s steps(150) 5s infinite;
  height: 5vh;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  transition: 1s;
}

@keyframes title {
  0% {
    width: 0%;
  }
  40% {
    text-decoration: underline;
    color: var(--color-orange);
  }
  80% {
    text-decoration: none;
    color: var(--color-light);
  }
  100% {
    width: 100%;
  }
}

h2 {
  color: var(--color-light);
}

#name {
  font-size: 1.5rem;
  color: var(--color-blue-dark);
  text-align: center;
  margin: auto;
  font-weight: 700;
}

/* DIFFÉRENTS CONTAINER : 1ERE BOÎTE */
/*________________________ MENU : À PROPOS ________________________*/
#about {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  background-image: url(../img/bg-img1.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 20px 20px black;
}

#left-content {
  display: flex;
  width: 60%;
  flex-direction: column;
  text-align: center;
  background-color: #eeeeee49;
  margin: auto;
}

#left-content div {
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-grey-light);
  color: var(--color-dark);
}

#left-content p {
  width: 100%;
  margin: 0 auto;
}

#second-text {
  background-color: #d4a04dc2;
  padding: 1rem;
  color: var(--color-light);
}

.span-second-text {
  color: var(--color-blue-dark);
  font-weight: 600;
}

#right-content {
  display: flex;
  width: 17%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #88979e81;
}

#right-content img:nth-child(2) {
  animation: logoLang 2s infinite 2s;
}

#right-content img:nth-child(3) {
  animation: logoLang 2s infinite 1.5s;
}

#right-content img:nth-child(4) {
  animation: logoLang 2s infinite 1s;
}

#right-content img:nth-child(5) {
  animation: logoLang 2s infinite 0.5s;
}

@keyframes logoLang {
  0% { transform: scale(1);}
  50% { transform: scale(1.3);}
  100% { transform: scale(1);}
}

/*_____________ 2 ÈME BOÎTE : MENU : PROJETS ________________________*/
/* A MODIFIER  */
#project {
  display: flex;
  display: none;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  background-color: #eeeeee90;
  transition: 2s;
  background-color: var(--color-orange);
  background-image: url(../img/bg-image5.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 20px 20px black;
}

#box-project {
  display: flex;
  align-items: center;
  background-color: #eeeeeea6;
  width: 80%;
  height: 80%;
  margin: auto;
}

#link-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#link-project h2 {
  width: 100%;
  background-color: var(--color-dark);
  text-align: center;
  align-self: baseline;
  padding: 1rem;
}

#link-project a {
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-orange);
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 5px;
}

#link-project a::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 0px;
  background-color: var(--color-orange);
}

#link-project a:hover {
  color: var(--color-light);
}

#link-project a:hover::before {
  opacity: 50%;
  position: absolute;
  height: 1.5rem;
  width: 50px;
  -webkit-animation: project 1s ease-in-out infinite;
  animation: project 1s ease-in-out infinite;
}

@-webkit-keyframes project {
  0% {
    width: 0;
  }
  50% {
    background-color: var(--color-light);
  }
  100% {
    width: 55px;
    background-color: #d4a04db9;
  }
}

@keyframes project {
  0% {
    width: 0;
  }
  50% {
    background-color: var(--color-light);
  }
  100% {
    width: 55px;
    background-color: #d4a04db9;
  }
}

/* // Créée et inséré avec le Script.js  */
.spanTest {
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--color-orange);
  border-radius: 50%;
  margin: auto;
  margin-bottom: -50px;
  animation: spanline 3s infinite;
}

@keyframes spanline {
  from {
    width: 20px;
  }
}

/*_ _ _ _ _ _ BOITE DES DIFFERENTS PROJECTS _ _ _ _ _ _*/
/* Je cache de base toutes les Boîtes de project  */
.content-project {
  display: none;
  justify-content: center;
  height: 100%;
  margin-top: 0.5rem;
}

.content-project a {
  margin: auto;
  text-align: center;
  border-radius: 5px;
  width: 80%;
  transition: 1s;
}

/* Et qui avec le script.js, vont être affichés en fonction du click sur les liens avec le bon index */
#content-project1,
#content-project2,
#content-project3,
#content-project4,
#content-project5,
#content-project6 {
  flex-direction: column;
  align-items: center;
}

.project-nb-anim {
  animation: projectNbAnim 0.5s ease-in-out;
}

@keyframes projectNbAnim {
  from {
    transform: translate(-0%, -25%);
  }
}

.img-project {
  width: 100%;
  min-height: 80%;
  filter: drop-shadow(6px 2px 2px var(--color-grey-light));
  transform: rotateX(11deg) rotateY(6deg);
  transform-style: preserve-3d;
  transition: 1s;
}

.img-project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn-arrow {
  width: 75px;
  background-color: white;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 10px;
}

.btn-arrow:nth-child(1) {
  margin-right: 1rem;
}

.btn-arrow:hover {
  background-color: #231c2456;
}

.btn-project-next {
  animation: next 1s ease-in-out;
}

@keyframes next {
  0% {
    z-index: -1;
  }
  25% {
    transform: translate(100%);
  }
  35% {
    transform: translate(-100%);
    z-index: -1;
  }
  80% {
    transform: translate(0%);
    z-index: 1;
  }
}

.btn-link-next {
  transition: 1.5s;
}

.btn-project-previous {
  animation: previous 1s ease-in-out;
}

@keyframes previous {
  0% {
    z-index: -1;
  }
  25% {
    transform: translate(-100%);
  }
  35% {
    transform: translate(100%);
    z-index: -1;
  }
  80% {
    transform: translate(0%);
    z-index: 1;
  }
}

.btn-link-previous {
  transition: 1.5s;
}

.text-project {
  width: 80%;
  text-align: center;
  background-color: var(--color-light);
  color: var(--color-blue-dark);
  font-weight: 500;
  margin-top: 0.5rem;
}

.subject {
  color: var(--color-orange);
  text-decoration: underline;
}

.img-lang {
  display: flex;
  margin: auto;
  background-color: var(--color-blue-dark);
  border-radius: 5px;
}

.img-lang a {
  place-self: center;
  color: var(--color-light);
  margin-right: 0.3rem;
}

/* <!--___________________3 ÈME BOÎTE : MENU  : CONTACT ________________________ -->  */
#hobby {
  display: none;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  transition: 1s;
  background-image: url(../img/bg-img2.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 10px 20px 20px black;
}

#hobby h2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee5e;
  height: 5vh;
}

#box-hobby {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 80%;
  background-size: 65%, contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 85%;
}

#box-hobby div {
  display: flex;
  width: 20%;
  height: 10vh;
  margin: 0.1rem 0;
  background-color: var(--color-light);
  color: var(--color-dark);
  filter: blur(1px);
  transition: 1.5s;
  opacity: 90%;
}

#box-hobby div:hover {
  width: 100%;
  background-color: var(--color-grey-light);
  color: white;
  font-size: x-large;
  transition: 1.5s;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#box-hobby h3 {
  margin: auto;
  text-align: center;
  transition: 1s;
}

.boxInCatHobby {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: auto;
  background-image: url(../img/bg-img1.jpg);
  animation: titleInCatHobby 1.5s linear;
}

.titleInCatHobby {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg-img1.jpg);
  text-decoration: underline;
  animation: titleInCatHobby 1s linear 1s;
  min-block-size: -webkit-fill-available;
  cursor: pointer;
}

@keyframes titleInCatHobby {
  from {
    width: 0%;
    opacity: 0%;
  }
  to {
    width: 40%;
    opacity: 100%;
  }
}

.loadCircle {
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 8px;
  border: 3px solid var(--color-orange);
  background-color: var(--color-grey-light);
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white white transparent transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    background-color: var(--color-grey-light);
    border-color: white white transparent transparent;
  }
  100% {
    transform: rotate(360deg);
    background-color: var(--color-orange);
    border-color: var(--color-blue-dark) var(--color-blue-dark) transparent transparent;
  }
}

.avatarTalking {
  text-align: center;
  background-size: contain;
  padding: 50px;
  margin: 5px;
  border-radius: 25px;
}

.textInBoxCatHobby {
  width: 100%;
  padding: 0 2rem 0rem 2rem;
  text-align: center;
  background-image: url(../img/bg-img1.jpg);
  opacity: 90%;
  font-size: 18px;
  animation: textInBoxCatHobby 2s linear;
}

@keyframes textInBoxCatHobby {
  from {
    width: 0%;
    opacity: 0%;
  }
  to {
    width: 100%;
    opacity: 100%;
  }
}

/* PARTIE : FOOTER  */
footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--color-light);
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  align-items: center;
  height: 5vh;
  background-color: var(--color-grey-light);

  -webkit-mask-image: linear-gradient(150deg, #000000, #f7a11fa1, #000000);
  mask-image: linear-gradient(150deg, #000000, #f7a11f96, #000000);
  -webkit-mask-size: 300%, 100%, auto, contain;
  mask-size: 300%, 100%, auto, contain;
  -webkit-animation: clip-fade 2s infinite alternate;
  animation: clip-fade 2s infinite alternate;
}

@-webkit-keyframes clip-fade {
  100% {
    -webkit-mask-position: right;
    mask-position: right;
  }
}

@keyframes clip-fade {
  50% {
    -webkit-mask-position: right;
    mask-position: right;
  }
  100% {
    -webkit-mask-position: right;
    mask-position: right;
  }
}

footer img {
  margin: 0;
}

footer div {
  display: flex;
}

footer div a {
  display: flex;
  margin: auto 0.3rem;
  color: var(--color-blue-dark);
}

footer a:hover {
  scale: 1.1;
}



