@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Secular+One&display=swap");

:root {
  --color-grey-light: #88979e;
  --color-blue-dark: #3b557c;
  --color-orange: #d4a04d;
  --color-light: #eeeeee;
  --color-dark: #231c24;
  --font-family-title: "Secular One", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

main {
  display: flex;
}

/* Navside Bar  */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  background-color: var(--color-dark);
  text-align: center;
  transition: 2s;
  animation: openNav 2s ease;
}

/* Animation : Ouverture Navbar */
@keyframes openNav {
  from {
    translate: -50%;
    opacity: 0%;
    transform: rotateY(250deg);
    width: 0%;
  }
  to {
    transform: rotateY(360deg);
    width: 10%;
  }
}

.btn-menu {
  transition: 1.5s;
  animation: closeNav 2s ease;
}

/* Animation : Fermeture Navbar */
@keyframes closeNav {
  from {
    transform: rotateY(360deg);
    width: 10%;
  }
  to {
    width: 0%;
    translate: -50%;
    opacity: 0%;
    transform: rotateY(250deg);
  }
}

#menu {
  border-radius: 3px;
  position: absolute;
  top: 50px;
  left: 25px;
  cursor: pointer;
}

nav ul a {
  text-decoration: none;
  color: var(--color-orange);
  font-size: large;
}

nav ul li {
  list-style: none;
}

nav ul li a:hover {
  color: var(--color-blue-dark);
}

nav ul a::before {
  position: absolute;
  content: "";
  width: 10px;
  background-color: var(--color-light);
}

nav ul a:hover::before {
  display: flex;
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--color-light);
  transition: 0.8s;
}

nav ul li:nth-child(4) {
  background-color: var(--color-grey-light);
}

nav ul li:nth-child(4) a {
  color: var(--color-light);
}

nav ul li .active {
  color: var(--color-light);
  text-decoration: underline;
}

.link-about-anim, .link-project-anim {
  animation:linkAbout 2s ease-in-out;  
}

@keyframes linkAbout {
  0%, 100% {transform: translate(50%); }
  25% { transform: rotateY(90deg);}
  75% { transform: rotate3d(1, 1, 1.5, 0.2rad);  } 
  100% { transform: rotate(0deg);}
}

/* transform: rotate3d(1.1, 1.1, 1, 0.2turn); */

/* Top Page */
section {
  width: 100%;
  background: linear-gradient(150deg, #231c2488 51%, #d4a04db7 51%);
}

header {
  display: flex;
  height: 8vh;
  background-color: var(--color-dark);
}

header figure {
  width: 0;
}

header figure img {
  width: 150px;
  margin-left: 5rem;
  margin-top: 3rem;
  -webkit-animation: 10s infinite logo;
  animation: 10s infinite logo;
}

@-webkit-keyframes logo {
  from {
    transform: scale(0.95);
    border-radius: 35px;
  }
  to {
    transform: scale(1);
    border-radius: 5px;
  }
}

@keyframes logo {
  from {
    transform: scale(0.95);
    border-radius: 35px;
  }
  to {
    transform: scale(1);
    border-radius: 5px;
  }
}

header div {
  width: 100%;
  align-self: center;
  text-align: center;
  container-type: size;
}

h1 {
  color: var(--color-light);
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 3.5rem;
  margin-top: -1rem;
  overflow: hidden;
  -webkit-animation: title 15s steps(150) 5s infinite;
  animation: title 15s steps(150) 5s infinite;
  height: 3vh;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  transition: 1s;
}

@-webkit-keyframes title {
  0% {
    width: 0%;
  }
  40% {
    text-decoration: underline;
    color: var(--color-orange);
  }
  80% {
    text-decoration: none;
    color: var(--color-light);
  }
  100% {
    width: 100%;
  }
}

@keyframes title {
  0% {
    width: 0%;
  }
  40% {
    text-decoration: underline;
    color: var(--color-orange);
  }
  80% {
    text-decoration: none;
    color: var(--color-light);
  }
  100% {
    width: 100%;
  }
}

h2 {
  color: var(--color-light);
}

#name {
  font-size: 1.5rem;
  color: var(--color-blue-dark);
  text-align: center;
  margin: auto;
  font-weight: 700;
}

/* DIFFÉRENTS CONTAINER : 1ERE BOÎTE */
/*________________________ MENU : À PROPOS ________________________*/
#about {
  /* display: none; */
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  transition: 1s;
  background-image: url(../img/bg-img1.jpg);
  background-size: cover;
  background-position: center;
}

#left-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eeeeee49;
  margin: auto;
}

#left-content div {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-grey-light);
  color: var(--color-dark);
}

#left-content p {
  width: 80%;
  margin: 0 auto;
}

.logo-languages {
  display: flex;
  background-color: var(--color-light);
  border-radius: 5px;
  margin: auto;
}

#second-text {
  background-color: #d4a04dc2;
  padding: 1rem;
  color: var(--color-light);
}

.span-second-text {
  color: var(--color-blue-dark);
  font-weight: 600;
}

#right-content {
  display: flex;
  width: 17%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #88979e81;
}

#right-content img:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

/*_____________ 2 ÈME BOÎTE : MENU : PROJETS ________________________*/
/* A MODIFIER  */
#project {
  display: flex;
  display: none;
  width: 90%;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  background-color: #eeeeee90;
  transition: 2s;
  background-color: var(--color-orange);
  background-image: url(../img/bg-image5.jpg);
  background-size: cover;
  background-position: center;
}

#box-project {
  display: flex;
  align-items: center;
  background-color: #eeeeeea6;
  width: 80%;
  height: 80%;
  margin: auto;
}

#link-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#link-project h2 {
  width: 100%;
  background-color: var(--color-dark);
  text-align: center;
  align-self: baseline;
  padding: 1rem;
}

#link-project a {
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-orange);
  padding: 0.2rem;
  margin: 0.2rem;
  border-radius: 5px;
}

#link-project a::before {
  content: "";
  position: absolute;
  height: 1.5rem;
  width: 0px;
  background-color: var(--color-orange);
}

#link-project a:hover {
  color: var(--color-light);
}

#link-project a:hover::before {
  /* content: ""; */
  opacity: 50%;
  position: absolute;
  height: 1.5rem;
  width: 50px;
  -webkit-animation: project 1s ease-in-out infinite;
  animation: project 1s ease-in-out infinite;
}

@-webkit-keyframes project {
  0% {
    width: 0;
  }
  50% {
    background-color: var(--color-light);
  }
  100% {
    width: 55px;
    background-color: #d4a04db9;
  }
}

@keyframes project {
  0% {
    width: 0;
  }
  50% {
    background-color: var(--color-light);
  }
  100% {
    width: 55px;
    background-color: #d4a04db9;
  }
}

/* // Créée et inséré avec le Script.js  */
.spanTest {
  display: block;
  width: 50px;
  height: 1px;
  background-color: var(--color-orange);
  border-radius: 50%;
  margin: auto;
  margin-bottom: -50px;
  animation: spanline 3s infinite;
}

@keyframes spanline {
  from { width: 20px; }
}

/*_ _ _ _ _ _ BOITE DES DIFFERENTS PROJECTS _ _ _ _ _ _*/
/* Je cache de base toutes les Boîtes de project  */
.content-project {
  display: none;
  justify-content: center;
  height: 100%;
  margin-top: 0.5rem;
}

.content-project a {
  margin: auto;
  text-align: center;
  background-color: #d4a04d98;
  border-radius: 5px;
  width: 80%;
  transition: 1s;
}

/* J'affiche de base Boîte n°1 de project  */
/* #content-project1 {
  flex-direction: column;
  align-items: center;
} */

/* Et qui avec le script.js, vont être affichés en fonction du click sur les liens avec le bon index */
#content-project1,
#content-project2,
#content-project3,
#content-project4,
#content-project5,
#content-project6 {
  flex-direction: column;
  align-items: center;
}

.img-project {
  width: 100%;
  min-height: 80%;
  filter: drop-shadow(6px 2px 2px var(--color-grey-light));
  transform: rotateX(11deg) rotateY(6deg);
  transform-style: preserve-3d;
  transition: 1s;
}

.img-project:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btn-arrow {
  width: 75px;
  background-color: #231c240e;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 10px;
}

.btn-arrow:nth-child(1) {
  margin-right: 1rem;
}

.btn-arrow:hover {
  background-color: #231c2493;
}

.text-project {
  width: 80%;
  text-align: center;
  background-color: var(--color-light);
  color: var(--color-blue-dark);
  font-weight: 500;
  margin-top: 0.5rem;
}

.subject {
  color: var(--color-orange);
  text-decoration: underline;
}

.img-lang {
  display: flex;
  margin: auto;
  background-color: var(--color-blue-dark);
  border-radius: 5px;
}

.img-lang a {
  place-self: center;
  color: var(--color-light);
  margin-right: 0.3rem;
}

/* <!--___________________3 ÈME BOÎTE : MENU  : CONTACT ________________________ -->  */
#contact {
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  transition: 1s;
  background-image: url(../img/bg-img5.jpg);
  background-size: cover;
  background-position: center;
}

#box-contact {
  background-color: var(--color-light);
  display: flex;
}

#box-contact h2 {
  margin: auto;
  color: var(--color-dark);
}

#contact-info {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  background-color: #5a55558e;
  color: var(--color-light);
}

#contact-info h3 {
  color: var(--color-orange);
  margin: auto;
}

#contact-info div {
  display: flex;
  margin: 0.5rem;
}

#contact-info a {
  color: var(--color-light);
  margin-left: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  align-items: center;
  height: 5vh;

  -webkit-mask-image: linear-gradient(150deg, #000000, #f7a11f86, #000000);
  mask-image: linear-gradient(150deg, #000000, #f7a11f86, #000000);
  -webkit-mask-size: 300%, 100%, auto, contain;
  mask-size: 300%, 100%, auto, contain;
  -webkit-animation: clip-fade 2s infinite alternate;
  animation: clip-fade 2s infinite alternate;
}

@-webkit-keyframes clip-fade {
  100% {
    -webkit-mask-position: right;
    mask-position: right;
  }
}

@keyframes clip-fade {
  50% {
    -webkit-mask-position: right;
    mask-position: right;
  }
  100% {
    -webkit-mask-position: right;
    mask-position: right;
  }
}

footer img {
  margin: 0;
}

footer div {
  display: flex;
}

footer div a {
  display: flex;
  margin: auto 0.3rem;
  color: var(--color-blue-dark);
}
