@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&family=Secular+One&display=swap');

:root {
  --color-grey-light : #88979e;
  --color-blue-dark : #3b557c;
  --color-orange : #d4a04d;
  --color-light : #eeeeee;
  --color-dark : #231c24;
  --font-family-title : 'Secular One', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kanit', sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--color-light);
}

main {
  display: flex;
}

/* Navside Bar  */
nav {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
  background-color: var(--color-dark);
  text-align: center;
  transition: 2s;  
}

nav ul a {
  text-decoration: none;
  color: var(--color-orange);
  font-size: large;
}

/* Top Page */
section {
  width: 100%;
  background:linear-gradient(150deg, #231c2488 51%, #d4a04db7 51%);
}

header {
  display: flex;
  height: 8vh;
  background-color: var(--color-dark);
}

header figure {
  width: 0;
}

header figure img {
  width: 150px;
  margin-left: 5rem;
  margin-top: 3rem;
  animation: 10s infinite logo;
}

@keyframes logo {
  from {
    transform: scale(0.95);
    border-radius: 35px;
  }
  to {
    transform: scale(1);
    border-radius: 5px;
  }
}

header div {
  width: 100%;
  align-self: center;
  text-align: center;
  container-type: size;
}

h1 {
  color: var(--color-light);
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  margin-top: -1rem;
}

h2 {
  color: var(--color-light);
}

#name {
  font-size: 1.5rem;
  color: var(--color-blue-dark);
  text-align: center;
  margin: auto;
  font-weight: 700;
}

/* DIFFÉRENTS CONTAINER : 1ERE BOÎTE */
/*________________________ MENU : À PROPOS ________________________*/
#about {
  display: none;
  /* display: flex; */
  width: 90%;
  justify-content: space-around;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  transition: 2s;
  background-image: url(/public/img/bg-img1.jpg);
  background-size: cover; 
  background-position: center;
}

#left-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #eeeeee49;
  margin: auto 0;
  box-shadow: 1px 1px 1pc var(--color-blue-dark);
}

#left-content div {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-grey-light);
  color: var(--color-dark);
}

#left-content p {
  width: 80%;
  margin: 0 auto; 
}

#second-text {
  background-color: var(--color-orange);
  padding: 1rem;
  color: var(--color-light);
}

.span-second-text {
  color: var(--color-blue-dark);
  font-weight: 600;
}

#right-content {
  display: flex;
  width: 17%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #88979e81;
  box-shadow: 1px 1px 1pc var(--color-blue-dark);
}


/*_____________ 2 ÈME BOÎTE : MENU : PROJETS ________________________*/
/* A MODIFIER  */
/* #project {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  background-color: #eeeeee90;
  transition: 2s;
  background-color: var(--color-orange);
  background-image: url(/public/img/bg-image5.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}

#box-project {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  background-color: #e8edeeb6;
}

#box-project h2 {
  color: var(--color-light);
  background-color: var(--color-orange);
  width: 50%;
  text-align: center;
  margin: 1rem auto;
}

.box-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
}

.box-content:nth-child(2n){

  background-color: red;
  text-align: right;
  flex-direction: row;
}

#box-project a {
  color: var(--color-light);
  text-decoration: none;
  margin-left: 10%;
}

#box-project img {
  width: 20%;
}

#box-project img:hover {
  transform: scale(2.5);
  border: 1px solid var(--color-light);
} */


/* <!--___________________3 ÈME BOÎTE : MENU  : CONTACT ________________________ -->  */
#contact {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 12vh;
  height: 75vh;
  transition: 2s;
  background-image: url(/public/img/bg-img5.jpg);
  background-size: cover; 
  background-position: center;
}

#box-contact {
  background-color: var(--color-light);
  display: flex;
}

#box-contact h2 {
  margin: auto;
  color: var(--color-dark);
}

#contact-info {
  display: flex;
  width: 100%;
  margin: 1rem auto;
  flex-direction: column;
  align-items: center;
  background-color: #6d62628e;
  color: var(--color-light);
}

#contact-info h3 {
  color: var(--color-orange);
  margin: auto;
} 

#contact-info div {
  margin: 0.5rem;
}

#contact-info a {
  color: var(--color-light);
  margin-left: 0.5rem;
}








footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-orange);
  width: 100%;
  color: var(--color-light);
  margin: 0;
  padding: 0;
  align-items: center;
  height: 5vh;
}

footer img {
  margin: 0;
}

footer div {
  display: flex;
}

footer div a {
  display: flex;
  margin: auto 0.3rem;
}

